<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bot Name Bot</title>
</head>
<body>
    <h1>Welcome to bot name!</h1>
</body>
</html>